<h3>All Jobs for <strong><%= @company.name %></strong></h3>

<ul>
  <% @jobs.each do |job| %>
  <li class=job_<%= job.id %>>
    <%= job.title %> at <%= job.company.name %>
    <%= link_to "Delete", company_jobs_path(job) method: "delete" %>
  </li>
  <% end %>
</ul>
