<link rel="stylesheet" href="../assets/stylesheets/application.css" title="CSS" type="text/css"/>

<header>
  <center>
    <h3>All Companies</h3>
  </center>
</header>
<br>

<body>
  <a class= 'link' href=<%= new_company_path %>>Add a New Company</a>

  <ul>
    <% @companies.each do |company| %>
    <li class=company_<%= company.id %>>
      <%= link_to company.name, company_path(company) %>:
      <%= link_to "Edit", edit_company_path(company) %>
      <%= link_to "Delete", company_path(company), method: "delete" %>
    </li>
    <% end %>
  </ul>
</body>
