<link rel="stylesheet" href="../assets/stylesheets/application.css" title="CSS" type="text/css"/>

<header>
  <center>
    <h3>Job Categories</h3>
  </center>
</header>
<br>
<br>

  <a class= 'link' href=<%= new_category_path %>>Add a New Category</a>

  <ul>
    <% @categories.each do |category| %>
    <li class=category <%= category.title %>
    <li><%= link_to 'Edit', edit_category_path(category) %> <%= category.title %> <%= category.title.size %></li>
    </li>
    <% end %>
  </ul>
